@page "/"

<MudText Typo="Typo.h4">CG.Forms.Blazor._MudBlazor Demo</MudText>
<MudText Typo="Typo.body1">This application demonstates some of the capabilities of the library.</MudText>

<div class="container">
    <MudText Class="pt-5" Typo="Typo.h6">Capabilities</MudText>
    <ul style="list-style-type:square">
        <li>CG.Forms.Blazor._MudBlazor is open-source, free to use, fast and reliable.</li>
        <li>CG.Forms.Blazor._MudBlazor is written in <strong>C#</strong>, <strong>ASP.NET</strong> and <strong>Blazor</strong>.</li>
        <li>CG.Forms.Blazor._MudBlazor leverages <strong>CODEGATOR</strong> packages, for a proven, standards driven architecture.</li>
        <li>CG.Forms.Blazor._MudBlazor is built on top of <strong>.NET 5.x</strong>, so it runs on multiple operating systems, without fuss.</li>
        <li>CG.Forms.Blazor._MudBlazor leverages the <strong>MudBlazor</strong> library without modifications.</li>
        <li>CG.Forms.Blazor._MudBlazor users are 36.6% less likely to be abducted by bigfoot. <small>(Ok, we made that one up)</small></li>
    </ul>
</div>